* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  height: 50%;
  background-color: #130f49;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.joke-text {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.next-button {
  background-color: #eff30b;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
